<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script type="text/javascript" src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
     <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
        <% if (user) { %>
        <a href="/logout" class="item">Log Out</a>
        <% } else { %>
        <a href="/login" class="item">Log In</a>
        <% } %>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/contact" class="item">Bark at Us</a>
        <% if (user) { %>
        <a href="/userprofile" class="item">My Profile</a>
        <a href="/logout" class="item">Log Out</a>
        <% } else { %>
        <a href="/login" class="item">Log In/Sign Up</a>
        <% } %>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="title-main-top"><br>
    <h1>Spottygram: Contact Us!</h1>
  </div><br><br>

  <!--contact form-->
  <div class="email-us-form">
    <h4 class="ui dividing header">E-mail us and we will bark back!</h4>
    <form class="ui form sendusabark" method="post" action="/contact" name="contactus">
      <div class="two fields">
        <div class="field"><label>Name</label>
          <input type="text" name="name" placeholder="Name" id="name">
        </div>
        <div class="field"><label>E-mail</label>
          <input type="text" name="email" placeholder="E-mail" id="email">
        </div>
      </div>
      <div class="field"><label>Your Message</label>
        <textarea rows="2" name="message" placeholder="Message" id="message"></textarea>
      </div>
      <input class="ui button" type="submit" value="Send" id="submit">
    </form>
    <% if (messageOfEmail) { %>
    <br>
    <p class="flash-message">
    <%= messageOfEmail %>
    </p>
    <% } %>
  </div>
  <!--/contact form-->

  <!--subscription-->
  <div id="mc_embed_signup">
    <form class="ui form subscribe-us validate" action="//spottygram.us12.list-manage.com/subscribe/post?u=42cf109497e4e3d672782775e&amp;id=99da8e64c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h4 class="ui dividing header">Subscribe to our mailing list!</h4>
        <div class="mc-field-group">
          <div class="field">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
        </div>
        <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_42cf109497e4e3d672782775e_99da8e64c0" tabindex="-1" value="">
        </div><br>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui button">
        </div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
  </script>
  <!--/subscription-->

  <!-- //////////////// BODY ////////////////////-->


</body>
</html>