<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script type="text/javascript" src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
    <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/latest" class="item">Latest One</a>
        <a href="/search" class="item">Find</a>
        <a href="/contact" class="item">Bark at Us</a>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="pusher">
    <div class="ui horizontal segments">

      <div class="ui segment">
        <h2>We would love to hear from you!</h2>
        <h4 class="ui dividing header">E-mail us!</h4>
        <form class="ui form" method="post" action="/contact" name="contactus">
          <!--FIND OUT HOW TO DO UPLOAD IMAGE-->
          <div class="two fields">
            <div class="field"><label>Name</label>
              <input type="text" name="name" placeholder="Name" id="name">
            </div>
            <div class="field"><label>E-mail</label>
              <input type="text" name="email" placeholder="E-mail" id="email">
            </div>
          </div>
          <div class="field"><label>Your Message</label>
            <textarea name="message" placeholder="Message" id="message"></textarea>
          </div>
          <input class="ui button" type="submit" value="Send" id="submit">
        </form>
      </div>

      <div class="ui segment">
        <h2>Want to subscribe to our Pawsletter?</h2>
        <h4 class="ui dividing header">Paw me in!</h4>
        <form class="ui form">
          <div class="field">
              <input type="text" placeholder="Email">
          </div>
           <input class="ui button" type="submit">
        </form>
      </div>

    </div>
  </div></div>
  <!-- //////////////// BODY ////////////////////-->


</body>
</html>