<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script type="text/javascript" src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
    <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/contact" class="item">Bark at Us</a>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="ui segment center aligned">
    <h1>Spottygram</h1>
    <p><em>The instagram for the cuttest puppies around</em></p>
    <p><b>Bark at Us and we will get bark back too!</b></p>
  </div>
  <br><br>

  <div id="all-contacts">
    <div class="subscribe">
      <h4 class="ui dividing header">Paw me in!</h4>
      <form class="ui form subscribe-us" method="post" action="/subscribe" name="subscribeus">
          <div class="field"><label>Your E-mail</label>
              <input type="text" name="email" placeholder="Email">
          </div>
           <input class="ui button" type="submit">
      </form>
      <% if (messageOfSubscription) { %>
        <br>
        <p class="flash-message">
        <%= messageOfSubscription %>
        </p>
      <% } %>
    </div>

    <div class="email-us-form">
      <h4 class="ui dividing header">E-mail us!</h4>
      <form class="ui form sendusabark" method="post" action="/contact" name="contactus">
        <div class="two fields">
          <div class="field"><label>Name</label>
            <input type="text" name="name" placeholder="Name" id="name">
          </div>
          <div class="field"><label>E-mail</label>
            <input type="text" name="email" placeholder="E-mail" id="email">
          </div>
        </div>
        <div class="field"><label>Your Message</label>
          <textarea name="message" placeholder="Message" id="message"></textarea>
        </div>
        <input class="ui button" type="submit" value="Send" id="submit">
      </form>
      <% if (messageOfEmail) { %>
      <br>
      <p class="flash-message">
      <%= messageOfEmail %>
      </p>
      <% } %>
    </div>
  </div>
  
  <!-- //////////////// BODY ////////////////////-->


</body>
</html>