<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
    <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/latest" class="item">Latest One</a>
        <a href="/search" class="item">Find</a>
        <a href="/contact" class="item">Bark at Us</a>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="pusher">
    <div class="ui segment center aligned">
    <img src="http://s20.postimg.org/x5fpt3z15/IMG_0417.jpg">
    <h1>Spottygram</h1>
    <h2>Puppy kitty ipsum dolor sit good dog parakeet grooming bird food cage feeder grooming. Food nap kitty pet food ID tag chirp head stay stick kitten catch maine coon cat run tooth. Lazy Cat shake run fast drool ball cage fur lazy cat nap dinnertime Mittens cage litter small animals vaccination. Critters finch fur smooshy speak wagging ID tag behavior. Pet Supplies ball Rover pet supplies tongue scratch walk meow house train toy hamster vitamins lazy cat twine teeth speak chew pet. Head dog purr gimme five Snowball tooth dog house run walk brush kitten feathers pet gate. Biscuit treats walk kitty crate leash gimme five vaccine catch bed Fido lick ID tag fish kibble tabby dinnertime groom cat lol catz. Head small animals string Rover pet food wag tail.Window vaccine teeth cat twine bed. Fetch running toy walk water bark good boy purr slobbery window furry chow stay cage ID tag hamster. .</h2>
    <br><br>
    <button class="start-grams">Start</button>
    </div>
  </div></div>
  <!-- //////////////// BODY ////////////////////-->


</body>
</html>