<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spottygram</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/fullpage.js/jquery.fullPage.css" />
  <script src="/fullpage.js/jquery.fullPage.js"></script>
  <script src="/fullpage.js/vendors/jquery.easings.min.js"></script>
  <script src="/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/main.js"></script>
</head>
<body>
  <!-- //////////////// MENU ////////////////////-->
    <div class="ui top attached demo menu inverted blue">
      <a class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
        <a href="/new" class="item">Create Gram</a>
        <% if (user) { %>
        <a href="/logout" class="item">Log Out</a>
        <% } %>
      </div>
    </div>

    <div class="ui bottom attached segment pushable">
      <div class="ui inverted left inline vertical sidebar menu red uncover">
        <a href="/" class="item">Main</a>
        <a href="/all" class="item">Grams</a>
        <a href="/top" class="item">Top One</a>
        <a href="/contact" class="item">Bark at Us</a>
        <a href="/login" class="item">Log In/Sign Up</a>
      </div>
  <!-- //////////////// MENU ////////////////////-->

  <!-- //////////////// BODY ////////////////////-->
  <div class="title-main-top">
    <h1>Spottygram</h1>
  </div>

  <div class="ui form red login-form">
    <h4 class="ui dividing header">Log In to Creat Grams!</h4>
    <form action="/login" method="post">
      <div class="field"><label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field"><label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <input type="submit" value="Log In">
    </form>
  </div>

  <div class="ui form signup-form">
    <h4 class="ui dividing header">Sign Up to Spottygram!</h4>
    <form action="/user" method="POST">
      <div class="field"><label>Username</label>
        <input name="username" type="text">
      </div>
      <div class="field"><label>Password</label>
        <input name="password" type="password">
      </div>
      <div class="field"><label>Password Confirmation</label>
        <input name="password_confirm" type="password">
      </div>
      <input type="submit" value="Sign Up">
    </form>
  </div>
  <!-- //////////////// BODY ////////////////////-->


</body>
</html>