@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.ui.bottom.attached.segment.pushable {
	background-color: transparent;
	border-bottom: none;
	background-image: url('spotty_gram.jpg');
	webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.ui.segment.center.aligned, .pusher {
	background-color: transparent !important;
	border-bottom: none;
	height: inherit;
	border: none;
}

.title-main, .title-main-top {
	text-align: right;
	margin-right: 30px;
	margin-top: 10px;
}

.title-main-top > h1 {
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	color: white;
  	text-shadow: -4px 0 dodgerblue, 0 4px dodgerblue, 4px 0 dodgerblue, 0 -4px dodgerblue;
}

.fadeIn {
	animation-duration: 4s !important;
  	animation-delay: 1s !important;
}

.title-main > h1 {
	font-size: 100px;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	color: white;
  	text-shadow: -4px 0 dodgerblue, 0 4px dodgerblue, 4px 0 dodgerblue, 0 -4px dodgerblue;
}

.intro-text {
	margin-top: 160px;
	margin-right: 30px;
	width: 42%;
	float: right;
	color: dodgerblue;
  	text-shadow: none;
	font-size: 28px;
	text-align: right;
	font-weight: bolder;
	font-family: 'Josefin Sans', sans-serif;
	animation-duration: 4s;
  	animation-delay: 3s;
}

.start-grams {
	background-color: white !important;
	color: dodgerblue !important;
}

.pusher > h1 {
	margin-top: 40px;
	color: white;
}

#all-contacts {
	width: 80%;
	margin: 0px auto;
}

.flash-message {
	font-family: arial;
}

.login-form, .signup-form {
	width: 400px;
	margin-right: 70px;
	margin-left: auto;
	margin-top: 40px;
}

.signup-form {
	height: 500px;
}

.centered.card {
	color: white;
	background-color: dodgerblue;
}

.see-comments:hover, i.icon.like.outline:hover, .likesheart:hover {
    cursor: pointer;
}

.ui.segment.center.aligned{
	border-bottom: none;
	border-top: none;
}

.sorrymessage {
	margin-top: 30px !important;
	color: white;
	font-family: 'Josefin Sans', sans-serif !important;
}

.sorrymessage > a {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

#mc_embed_signup, .email-us-form {
	background-color: transparent !important;
	width: 400px !important;
	margin-right: 70px !important;
	margin-left: auto !important;
}

#mc_embed_signup {
	margin-top: 20px;
}

#mc_embed_signup_scroll {
	height: 500px;
}

.ui.dividing.header {
	background-color: rgba(255, 255, 255, 0.41) !important;
}

.image-profile {
	border: white solid 1px;
}

.little-posts {
	background-color: rgba(52, 152, 219, 0.41);
	padding: 5px;
	border: white 1px dotted;
}

.profile-user {
	background-color: rgba(255, 255, 255, 0.41);
	width: 300px;
	float: right;
	margin-right: 30px;
	margin-top: 60px;
	padding: 20px;
	height: 400px;
	overflow: auto; 
}

.profile-user-posts {
	background-color: rgba(255, 255, 255, 0.41);
	width: 300px;
	height: 400px;
	overflow: auto; 
	float: right;
	margin-right: 30px;
	margin-top: 60px;
	padding: 20px;
	padding-right: 60px;
}

.this-image-profile {
	margin-bottom: 18px;
}

.redo-image {
	max-height: 200px !important; 
	width: 280px !important;
	border: solid white 1px;
}

.centerthis {
	width: 150px !important;
	margin: 0px auto !important;
}
